@model List<Person>

@{
  ViewData["TitlePhrase"] = "All Employees";
}

<h1>Number of Employees (@Model.Count)</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in Model)
    {
      <tr scope="row">
        <td>
          <a href="/employee/Detail?ID=@employee.Id">
            @employee.FirstName
          </a>
        </td>
        <td>@employee.Surname</td>
        <td>@employee.Address</td>
        <td>@employee.Gender</td>
        <td>@employee.Salary</td>
        <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id">
          <button type="button" class="btn btn-outline-info">
            Edit
          </button>
        </a>
          <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id">
            <button type="button" class="btn btn-outline-danger">
              Delete
            </button>
          </a>
        </td>

      </tr>
    }
  </tbody>
</table>